<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>This is Data Driven Form</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">First name</label>
      <div class="col-md-4">
        <input 
          name="textinput" 
          type="text" 
          placeholder="John" 
          class="form-control input-md">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">E-mail</label>
      <div class="col-md-4">
        <input 
          name="email" 
          type="text" 
          placeholder="john.smith@mail.com" 
          class="form-control input-md">
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="passwordinput">Password</label>
      <div class="col-md-4">
        <input 
          name="passwordinput" 
          type="password" 
          placeholder="Enter your password" 
          class="form-control input-md">
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>

  </fieldset>
</form>